<div class="container">
    <img src="/assets/topratedsign.png" class="sign">
    <div class="card-container">
        <mat-card *ngFor="let movie of movies" class="card">

            <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
            <div class="card-content">
                <div>
                    <mat-card-title>{{movie.title}}</mat-card-title>
                    <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
                </div>
                <p>{{movie.overview.slice(0,300)+(movie.overview.length>300 ? "..." :"")}}</p>
                <button [routerLink]="'/movie/'+movie.id" mat-raised-button class="see-more-button">See more</button>
            </div>
        </mat-card>
        <button class="load-more-button" mat-raised-button (click)="loadMore()">More movies...</button>
    </div>
</div>