<div class="container">
    <!-- <button mat-fab (click)="goBack()" class="back-button">Back</button> -->
    <img src="/assets/leftarrowincircle.svg" (click)="goBack()" class="arrow-icon" />
    <div class="poster-container">
         <img [src]="'https://image.tmdb.org/t/p/w500/' + movie?.poster_path" alt="{{ movie?.title }}">
    </div>
    <div class="content-container">
        <h1>{{movie?.title}}</h1>
       
        <h3>Release date: {{movie?.release_date}}</h3>
        <h3>Original language: {{movie?.original_language}}</h3>
        Genres:
        <mat-chip-listbox class="genres">
            <mat-chip *ngFor="let g of movie?.genres">{{g.name}}</mat-chip>
        </mat-chip-listbox>
        <h3>Budget: {{movie?.budget ? (movie?.budget + "$" ) : "No information"}}</h3>
        
        <h3>Rating: {{movie?.vote_average}}</h3>
        <a [href]="movie?.homepage"><h3>{{movie?.homepage ? "Webpage" : "No homepage"}}</h3></a>
        <p>{{movie?.overview}}</p>
        <div *ngIf="imgPaths.length>0" class="images-container">
        <!-- <img *ngFor="let path of imgPaths" [src]="'https://image.tmdb.org/t/p/w500/' + path" /> -->
        <div *ngFor="let path of imgPaths" [style]="'background-image: url(https://image.tmdb.org/t/p/w500/' + path +');'" class="image-div"></div>
        </div>
        
    </div>
</div>

