<div *ngIf="movie!=null" class="container">
    <!-- <button mat-fab (click)="goBack()" class="back-button">Back</button> -->
    <img src="/assets/leftarrowincircle.svg" (click)="goBack()" class="arrow-icon" />
    <div class="poster-container">
         <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
    </div>
    <div class="content-container">
        <div class="text-container">
        <h1>{{movie.title}}</h1>
        
        <mat-chip-listbox class="genres">
            <mat-chip *ngFor="let g of movie?.genres">{{g.name}}</mat-chip>
        </mat-chip-listbox>
       
        <table>
            
                <tr><td>Release date: {{movie.release_date}}</td></tr>
                <tr>
                    <td>Original language: {{movie.original_language}}</td>
                </tr>
                <tr>
                    <td>Budget: {{(movie.budget) ? (formatService.budgetToString( movie.budget )) : "No information"}}</td>
                </tr>
                <tr *ngIf="movie.homepage">
                    <td>Webpage: <a [href]="movie.homepage">
                        {{movie.homepage}}
                    </a></td>
                </tr>
            
        </table>

        <div class="rating-container">
            Rating:
            <div class="rating-box" [style]="'background-color:'+formatService.ratingRGBA(movie.vote_average)+';'">
                {{movie.vote_average}}</div>
        </div>
        
        <p>{{movie.overview}}</p>
        </div>

        <div *ngIf="imgPaths.length>0" class="images-container">
        <!-- <img *ngFor="let path of imgPaths" [src]="'https://image.tmdb.org/t/p/w500/' + path" /> -->
        <div *ngFor="let path of imgPaths" [style]="'background-image: url(https://image.tmdb.org/t/p/w500/' + path +');'" class="image-div"></div>
        </div>
        
    </div>
</div>

