<div class="container">
    <img src="/assets/popularsign.png" class="sign">
  <div class="card-container">
  <mat-card *ngFor="let movie of movies" class="card">
    
    <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
    <div class="card-content">
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
        <p>{{movie.overview}}</p>
      </div>
    <!-- <mat-card-content>
      <p>
       {{movie.overview}}
      </p>
    </mat-card-content> -->
    <!-- <mat-card-footer>
        {{movie.popularity}}
    </mat-card-footer> -->
  </mat-card>

</div>
</div>