.container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("/assets/bg.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card {
    min-width: calc(20% -  15pt);
    margin: 5pt;
}

.card-header {
   min-height: 25pt;
    display: flex;

    justify-content: space-between;
}

img {
    max-width: 90%;
    margin: auto;
}

.card-container {
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: row;
    overflow-x: scroll;
}

h1 {
    margin: 10pt;
    padding: 20pt;
    color: #f5f5f7;
    font-size: 40pt;
    background-color: rgba(0,0,0,0.5);
}