<div *ngIf="person!=null" class="container">
    <!-- <button mat-fab (click)="goBack()" class="back-button">Back</button> -->




    <img src="/assets/leftarrowincircle.svg" (click)="goBack()" class="arrow-icon" />
    <div class="poster-container">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + person.profile_path" alt="{{ person.name }}">
    </div>
    <div class="content-container">
        <div class="text-container">
            <h1>{{person.name}}</h1>
            <h4>Known for: {{person.known_for_department}}</h4>
            <h4>Born: {{person.birthday+(person.place_of_birth ? " ,"+person.place_of_birth : "")}}</h4>
        </div>
        <div class="bio-container"><p>{{person.biography}}</p></div>

        <div class="table-container">
           <table>
               <tr>
                  <th>Movie</th>
                  <th>Played character</th>
                  <th>Release date <button (click)="toggleSort()"><img src="../../assets/updown.svg"/></button></th>
               </tr>
               <tr *ngFor="let role of roles">
                   <td><a [href]="'/movie/'+role.id">{{role.title}}</a></td>
                   <td>{{role.character=="" ? "-" : role.character}}</td>
                   <td>{{role.release_date=="" ? "-" : role.release_date}}</td>
               </tr> 
           </table>
         </div>
    </div>
</div>